################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PatientProyect/.vs/PatientProyect/v16/Server/sqlite3
